.test {
    font-size: 16px;
}


* {
    border: 1px solid red;
}


body div {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}


#gameContainer {
    width: 500px;
    height: 500px;
    margin: 20px 0px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
}

#gameContainer {
    background-color: white;
}

#gameContainer div {
    border: 1px solid skyblue;
}

/* change color class */
.activeColor {
    background-color: pink;
}

#settings #resetbtn {
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0px;
}

#upperUI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#upperUI h1 {
    margin: 0px;
    padding: 20px 0px 10px 0px;
    font-size: x-large;
}

#application {
    background-color: aquamarine;

}


