.test {
    font-size: 16px;
}

body div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    margin-top: 20px;
    width: 832px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

#container div {
    border: 1px solid skyblue;
    width: 50px;
    height: 50px;
}

/* change color class */
.activeColor {
    background-color: pink;
}

#settings #resetbtn {
    font-size: 22px;
    padding: 5px;
    margin: 15px 0px;
}